<!DOCTYPE html>
<html>
<head>

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('.static', filename='jQuery-Knob/dist/jquery.knob.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/application.js')}}"></script>    
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

</head>
<body>
<input type="text" id="txtBox" name="txtBox" />
<input class="knob" data-fgColor="chartreuse" data-thickness=".4" readonly value="22">

        <p id="log">

        </p> <!-- /#log -->



</body>
</html>
